<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
	
<hibernate-configuration>
    <session-factory>
        <!-- 配置连接信息 -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/jpa_hibernate?serverTimezone=GMT%2B8</property>
        <property name="connection.username">root</property>
        <property name="connection.password">Lw@1985105</property>
        
        <!-- 方言 -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- 在控制台显示执行的sql语句 -->
        <property name="show_sql">true</property>
        <!-- 格式化sql语句，更易读 -->
        <property name="format_sql">true</property>
        
        <!-- 指定映射文件的路劲 -->
        <!--  
        <mapping resource="com/vilin/hibernate/domain/User.hbm.xml"/>
        <mapping resource="com/vilin/hibernate/domain/Emp.hbm.xml"/>
        <mapping resource="com/vilin/hibernate/domain/Dept.hbm.xml"/>
        <mapping resource="com/vilin/hibernate/domain/Clazz.hbm.xml"/>
        <mapping resource="com/vilin/hibernate/domain/Student.hbm.xml"/>
        <mapping resource="com/vilin/hibernate/domain/Stu.hbm.xml"/>
        <mapping resource="com/vilin/hibernate/domain/Course.hbm.xml"/>
        <mapping resource="com/vilin/hibernate/domain/Person.hbm.xml"/>
        <mapping resource="com/vilin/hibernate/domain/Card.hbm.xml"/>
        <mapping resource="com/vilin/hibernate/domain/Customer.hbm.xml"/>
        -->
        <mapping resource="com/vilin/hibernate/domain/SYSUser.hbm.xml"/>
        
        <!-- <mapping resource="com/vilin/hibernate/domain/Manager.hbm.xml"/>
        <mapping resource="com/vilin/hibernate/domain/Member.hbm.xml"/> -->
    </session-factory>
</hibernate-configuration>